#text{
	text-align: center;
	font-family: 'ABeeZee', sans-serif;
	font-family: 'Cormorant Garamond', serif;
}
body{
	background-color: #e0aaff;
	border: 75px solid #40916c;
	margin: auto;
	border-top-width: 20px;
	border-top: 20px solid #AC42C9;
}